/* this is the styling for all the assets and the text used in the website*/
img {
    width: 100px;
    border-radius: 10px;
    float: left;
    margin-right: 10px;
}


p.this-is-a-paragraph {
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    float: rightx;
}

table,th,td {
    border: 2px solid black;
    border-radius: 5px;
}